{% extends "layout.html"%}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['blog_sub']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for row in post %}
        <div class="post-preview">
          <a href="/post">
            <h2 class="post-title text-justify">
              {{row.title}}
            </h2>
            <img src="{{url_for('static',filename='image/')}}{{row.img_file}}" alt="Uploaded Image File" class="img-fluid">
            <h3 class="post-subtitle text-justify">
              {{row.content[0:70]}}
            </h3>
          </a>
          <p class="post-meta text-justify">Posted by
            <a href="post.html/{{row[0]}}">Admin Post</a>
            on {{row.date}}</p>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/post">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
